.main-container{
    background:linear-gradient(to right,rgb(58, 58, 91),rgba(0,0,0.6));
    height: 100vh;
}
.navbar{
    background-color: rgb(174, 63, 63);
}
.heading{
    justify-content: space-between;
}
.heading1{
    color: rgb(111, 21, 157);
}
.para{
    padding: 5px;
    color: rgb(181, 161, 81);
}
.discription{
    margin: 5px;
}
.discription-image{
    background:linear-gradient(to right,rgb(140, 140, 204),rgba(0,0,0.6));
    border-radius: 10px;
}
.discription-heading{
    padding: 15px;
}
.discription-para{
    padding: 15px;
    color: burlywood;
}
.video{
    justify-content: space-around;
}

.video-heading{
    padding: 15px;
}
.btn1{
    text-align: center;
   
}
.btn2{
    height: 50px;
    width: 160px;
    background-color: blue;
    color: bisque;
    border-radius: 15px;
    border: none;
    border-color: none;
}
.btn2:hover{
    background-color: rgb(96, 160, 160);
    transition: 0.5s 0s ease-in;
}